/*input[type=text] {
  color: black;
  width: 40%;
  border-color: #c2bebb;
  border-radius: 2px;
  background-color: #c2bebb;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

input[type=submit]:hover {
  background-color: #c2bebb;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
*/
/*
label {
    color: black;
    font: 20px arial, sans-serif;
    padding-right: 10px;
}
*/

h1 {
  font: 100px arial, sans-serif;
  text-shadow: 0px 3px #808080;
  width: 100%;
  font-weight: 600;
  color: white;
}

a:link {
    text-decoration: none;
    color: white;
    text-shadow: 0px, 2px, #808080;
}

a:visited {
  color: #E6E6FA;
  text-shadow: 0px, 2px, #808080;
}

a:hover {
  color: red;
}

body {
  background-image: linear-gradient(#ADD8E6, white);
  font-weight: 400;
  text-shadow: 0px, 2px, #808080;
  font: 30px arial, sans-serif;
}

.content {
  max-width: 600px;
  text-align: center;
  margin: auto;
}
