<html>
	<body>
		<h1>Create a set of flash cards</h1>
		<form>
			Card 1<input type="text"  name="card1">
			Card 2<input type="text"  name="card2">
			Card 3<input type="text"  name="card3">
			Card 4<input type="text"  name="card4">
			Card 5<input type="text"  name="card5">
			Card 6<input type="text"  name="card6">
			Card 7<input type="text"  name="card7">
			Card 8<input type="text"  name="card8">
			Card 9<input type="text"  name="card9">
			Card 10<input type="text"  name="card10">
		</form>
	</body>
</html>