<html>
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'BadQuizletApp/styleCreate.css' %}">
	<body class=content>
		<h1>Create a set of flash cards</h1>
		<form action="Create" method="post">
			{% csrf_token %}
			{% for field in form %}
				{% if field.name == 'setName' %}
					<div>
						{{ field.errors }}
						{{ field.label_tag }} <br> {{ field }} <br> <br>
					</div>
					<br>
					<br>

				{% elif field.name|slice:":9" == 'cardFront' %}
					<div>
						{{ field.errors }}
						{{ field.label_tag }} {{ field }} <br>
				{% else %}
						{{ field.errors }}
						{{ field.label_tag }} {{ field }} <br> <br>
					</div>
				{% endif %}
			{% endfor %}
			<br>
			<input type="submit" value="Submit">
		</form>
	</body>
</html>