<html>
	{% load static %}

	<link rel="stylesheet" type="text/css" href="{% static 'BadQuizletApp/style.css' %}">
	<body class="content">
		<h1>Bad Kwilzit</h1>
		<divS>
			<button class="button" onclick="window.location.href = 'Create';">Create Set</button>
			<button class="button" onclick="window.location.href = 'ViewAll';">View All Cards</button>
			<button class="button" onclick="window.location.href = 'Random';">View Random Set</button>
		</div>
		<!--<img src="{% static 'images/notecard.jpg'%}" alt="" width=600px height=200px> -->
	</body>
</html>